.vs
*.exe
SCUMQuestEditor/bin
SCUMQuestEditor/obj
SCUMQuestEditor/Properties/*
SCUMQuestEditor/_data/EliminationWeapons.json
SCUMQuestEditor/_data/SCUM.log
SCUMQuestEditor/BuildInfo.cs
packages/*.*
SCUMQuestEditor/testquests/*.*